attrs==25.3.0
click==8.2.1
Flask==2.0.1
iniconfig==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==25.0
pluggy==1.0.0.dev0
ply==3.11
py==1.11.0
pytest==6.2.4
toml==0.10.2
Werkzeug==3.1.3